<div class="container">
  <form #form="ngForm">
    <div class="row">
      <div class="col-md-6 mt-3">
        <datepicker #d1="ngModel" [(ngModel)]="date1" name="date1" calendar='gregorian' required></datepicker>
        <span *ngIf="d1.touched && !d1.valid" class="text-danger">Something</span>
      </div>
      <div class="col-md-6 mt-3">
        <datepicker name="date2" [(ngModel)]="date2"></datepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input name="custom" type="text" [(ngModel)]="custom" datepicker readonly>
      </div>
    </div>
  </form>
</div>